<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--

                                                              _/ _/      _/_/_/_/    _/      _/
                                                            _/   _/     _/          _/_/    _/
                                                           _/_/_/_/    _/_/_/      _/  _/  _/
                                                          _/    _/    _/          _/    _/_/
                                                         _/    _/    _/_/_/_/    _/      _/


                        WWMMMMGGGGGGGGGGGGGGGGGMMMMMMMMGGMMMMMMMMMMMMWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW
                       WWMMMMGGGGGGGGGGGGGGGGGGMMMMMMMMGGMMMMMMMMMMMMWWWWRWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW
                       WWMMMGGGGGGGGGGGGGGGGGGGMMMMMMMMMMMMMMMMMMMMGWWWWGMMRRMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW
                      WWMMMGGGGGGGGGGGGGGGGGGGGGMMMMMGMMMMMMMMMMMGWWW.WWGMMMMMMWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMGGGGMMMMMMMMMMMMMMMMMMMMMMMW
                     WWMMMMGGGGGGGGGGGGGGGGGGGGGGGMMGGGMMGGMMMGGGWW....WGMMMMMMMWWWWWMMMMMMMMMMMGGGGGGGGGGGGGGGGGGGGGGGGGMGMMWWWWMMMMMMMMMMMMMMMW
                     WWMMMMGGGGGGGGGGGGGGGGGGGGGGGGMGGMMMMMMGGGWW......WWGMMMMMGGGGWMMRWWMMMMMMMMMMMGGGGGGGGMMMMGGGGGGGGGGMWWWWWWMMGMMMMMMMMMMMMW
                    WWMMMMGGGGGGGGGGGGGGGGGGGGGGGGMGGGGGGGGGGWWW........WWMMMMMMGGGGGGMWWMMMWMGGGGGGGGGGGGGGGGGGGGGGGGGGGGMWWMMGGGGGGGGGGMMMMMMMWW
                   WWMMMMMGGGWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGWW..WWWW....WWGMMMMMGGGGGGGGGGMMMMMMMMGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGMMMGMMMMMWWW
                  WWMMMMMGGWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGWW.WWW...WW....WWGMMMMGGGGGGGGGGGGGGMMMWWWWGMGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGMGMMMWWWW
                  WWMMMMMMMW.WWWWGGGGGGGGGGGGGGGGGGGGGGGGWW.WW......WW....WWGMMMMGGGGGGGGGGGGGGGGMMWRMWWMWGGGGGGGGGGGGGGWGGGGGGGGGGGGGGGGMMMMWWWW
                 WMMMMMMMW...WWWGGGGGGGGGGGGGGGGGGGGGGWWWWWWWWW....WWW....WWMMMMGGGGGGGGGGGGGGGGGGGGGGWWMWWWMMMMGGGGGGGWWGGGGGGGGGGGGGMMMWWWWWMWW
                 WWMMMMMMMW..WWWWGGGGGGGGGGGGGGGGGGGGGWWWW.....WWWWWWWWW....WWMMMMGGGGWWGGGGGGGGGGGGGGGGGGGGGWMWMMMMMMMMWWGGMMMWWWWWWWWWWWWWWMMMW
                WWMMMMMMMMW.WW.WWGGGGGGGGGGGGGGGGGGGWWWW............WWWWW....WWMMMMGGGWWWWGGGGGGGMWWGGGGGGGGGGGGGGGGGGGGGWWGWWGGWWWWWWWWWMGMMMMGW
               WWMMMMMMMMMW.W..WWGGGGGGGGGGGGGGGGGGWWWW................WWWW...WWMMMMMMMWWWWGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGWGGGGGGGGGGGGGGGGGGMMGW
               WWMGGGGGGMMW.WW..WGGGGGGGGGGGGGGGGGWWW.............WWWW...WWWWW.WWMMMMMMMW.WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWWGGGGGGGGGGGGGGGGGGGGW
              WWMGGGGGGGGGW.WW..WGGGGGGGGGGGGGGGGWWWWWWWWWWW........WWWW..WW.WWWWWMMMMMMMW..WWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGGGGGGGGGGGGGGGGGMW
             WWMGGGGGGGGGGGWW...WWGGGGGGGGGGGGGGGGWWWWWWWWWWWWWWW.....WWWW.WWW.W.WWWMMMMMMW...WWWWGGGGGGGGGGGGGGGGGGGGGGGGGWWGGGGGGGGGGGGGGGGGGGGW
            WWMGGGGGGGGGGGGWWW..WWGGGGGGGGGGGGGGGGWWWGGGMGGMMMMMWWWWWW.WWW...WWW...WWMMMMMMW....WWWWGGGGGGGGGGGGGGGGGGGGGGGWWGGGGGGGGGGGGGGGGGGGMW
           WWMGGGGGGGGGGGGGW.WW.WWGGGGGGGGGGGGGGGWWWWGGGWGGWWWGWWWWWWWWWWW.....WW...WWWMMMMMW.....WWWWWGGGGGGGGGGGGGGGGGGGGWGGGGGGGGGGGGGGGGGGGGGW
          WWGGGGGGGGGGGGGGGW.WWWWGGGGGGGGGGGGGGGWWWWWWWGGWWW.WWWW...WWWW.......WWWWW.WWWMMMMW...WW..WWWWGGGGGGGGGGGGGGGGGWWWWWWWWWWGGGGGGGGGGGGGW
          WWMGGGGGGGGGGGGGGGWW...WWGGGGGGGGGGGGGMWWWWWWWWWWWWWWWW.................WWW...WWMMMMWW........WWWWGGGGGGGGGGGGGGWWWWWWWWWGGGGGGGGGGGGGGWW
         WWGGGGGGGGGGGGGGGGGGGWW.WWGGGGGGGGGGGGGMW.WWWWWWWWWWWWW...................WWWW..WWWMMMWW....WWWWW.WWWWGMGGGGGGGGGWGGGGGGGGGGGGGGGGGGGGGGWW
        WWGGGGGGGGGGGGGGGGGGGGGWWWWWGGGGGGGGGGGMMW...WWWWWWWWW....................WWWWWWW.WWWWWMWW..WWWWWWWWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWW
       WWGGGGGGGGGGGGGGGGGGGGGGGGWWWGGGGGGWWWGGMMW.......WWWWWWW..................WWWW..WWWWWWWWWMWWWWWWWWWWWWWWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWW
      WWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWW.WWGMMW...............................WW.....WWWWWWW.WWGWGGGGGWWWWWWWWWWWWWWWWGGWGGGGGGGGGGGGGGGGGGGGGGWW
     WWWWWGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGWW..WWGMW.............................WWW.......WW..WWWWWGWWWWWGWWW....WWWWW..WWGGGGGGGGGGGGGGGGGGGGGGGGGWW
    WWGWGGGGGGGGGGGGGGGGGGGGGGGGGGGWWGGW......WMWWW.......................WWWWW........WW.....WWWWWWWWWWWW.....WWWWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGWW
    WWGGGGGGGWGGGGGGGGGGGGGGGGGGGGGGWWWWW..........WWWWW................WWWWWW.........WW.....WWWWWWWWWW......WWW...WWWGGWGGGGGGGGGGGGGGGGGGGGGGW
   WWGGGGGGGGGKIZUMONOGATARIGGGGGGGGWWWW..............WWWWWWW...WWWWWWWWW..............WW......WWWWWWW.......WWWWW.WWWGGGGGGGGGGGGGGGGGGGGGGGGGGW
   WWGGWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWWWW...................WWWWWW......................WW........WWWWWW......WW.WWWWWWGGGGWGGGGGGGGGGGGGGGGGGGGWW
   WWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWWWWW.........................................W....WWW......................WWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGW
    WWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWTW.WW.......................................WW.....WWW....................WWWWWGGGGGGGGGGGGGGWGGGGGGGGGGGGW
    WWGWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWTWW.WW......................................WW.......WWW..................WWWWWGGGGGGGGGGGGGWGGGGGGGGGGGGGW
     WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGWO.WW.WW...................................WWW..........WWW...............WWWWWGWGGWGGGGGGGGGWGGGGGGGGGGGGGGW
      WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGWO..WW.WW................................................WWWWW..........WWWWWWGGGGWGGGGGGGWWGGGGGGGGGGGGGGW
       WWGGGGGGGGGGGGGGGGGGGGGGGGWWWWWW...WW.WW...............WWW................................WWWWWWWWWWWWWWWWWGGGGWGGGGGGGWWGGGGGGGGGGGGGGGW
       WWWGGGGGGGGGGGGGGGGGGGGWWWWRRRRW....WW.WW...............WWW...................................WWWWWWWWGGGGGGGGGGGGGWGGGWGGGGWGGGGGGGGGGGW
        WWWGGGGGGGGGGGGGGGGGWWMRRRRRRRW.....WWWWW................WWWW...................................WWWGGGGGGGGGGGGGGGWGWGGGGGGGGGGGGGGGGGWW
         WWWGGGGGGGGGGGGGGGWWMRRRRRRRRW.......WW.WW.................WWWWWW......WW....................WWWGGGGGGGGGGWGGGGGGWWGGGGGGGGWWGGGGGGGGW
          WWWGGGGGGGGGGWWWWWRRRRRRRRRRW........WW.WW.....................WWWWWWWW...................WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGWGGGGGGGWW
          WWWWGGGGGWWWW..WWRRRRRRRRRRRWT.........WWWWW...........................................WWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGGGGW
            WWWGWWWW....WWRRRRRRRRRRRRWW..........WWWWW.......................................WWWWRRRWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGGW
              WWW......WWRRRRRRRRRRRRWWW............WWWWW.................................WWWWWRRRRRRRRWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGWW
         WWWWW.WW.....WWRRRRRRRRRRRRRWTW..............WWWWW.........................WWWWWWWRRRRRRRRRRWOWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGWGGGW
WWWWWWWWWW.W...W....WWWRRRRRRRRRRRRRRW.W................WWWWW.................WWWWWWWWWRRRRRRRRRRRRRAWWW...WWWWWGGGGGGGGGGGGGGGGGGGGGGWGGW
WW.............W...WWRRRRRRRRRRRRRRRWW.W...................WWWW.........WWWWWWW..WWWWRRRRRRRRRRRRRRATWW........WWWWWGGGGGGGGGGGGGGGGWGGWW
...............WW.WWRRRRRRRRRRRRRRRRWT.W.....................WWWWWWWWWWWW......WWWWWRRRRRRRRRRRRRROTTW............WWWWWGGGGGGGGGGGGWGGWW
................WWWRRRRRMMMRMMMRRRRWW..W....................................WWWWWWRRRRRRRRRRRRRWATTTW................WWWWWWGGGGGGGGGWW
................WWWRRRMMMMMMMMMMMRMWT..W.................................WWWWWWWRRRRRRMRMMMRRRAOTTTWW....................WWWWWWWWWWWWWWW
..............http://WWWRRRRMMMMMMMMMMMMMMWT.TW..............................WWWWTTWWRRRRRWWAARMMMWAOTTTTWW..................................WWWWWWWWWWWW
..............WWWWWWWMMMMMMMMMMMMMMWT.WT............................WWW...TWWRRRRRAOOOAMMMRAOTTTTTW............................................WWW
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr">

<head>


    <link href="https://fonts.googleapis.com/css?family=Doppio+One" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <script src="~/Content/JavaScript/jQuery-2.1.3.min.js"></script>


    <link href="~/AdminLTE-2.0.3/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/JavaScript/bootstrap.min.js"></script>
    @*<link href="~/Content/Css/sticky-footer-navbar.css" rel="stylesheet" />*@

    <script src="~/Content/JavaScript/Masonry.js"></script>
    @*<script src="~/Content/JavaScript/jquery.masonry.min.js"></script>*@
    <link href="~/Content/Css/Home.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->


    <title>@Page.Title</title>



    <meta property="og:title" content="AnimexEntertainment Network:Bırakın renkler yenilesin düşlerinizi..." />
    <meta name="description" content="Anime ve Manga ile dolu bi dünya..." />
    <meta name="keywords" content="Anime,Manga,Cosplay,Vocaloid,Naruto,Otaku,Game" />
    <meta name="author" content="AEN" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Animex Entertainment Network" />
    <meta property="og:description" content="Animex Entertainment Network dünyada anime kültürü bağlantı odaklı sosyal bir araçtır.Biz dünya genelinde bireysellik,bağlanma oluşturma ve ilham için bir yer sağlamak gibi bir amaç uğruna sezgisel deneyimleri işa ediyoruz. " />
    <meta property="og:ulr" content="http://animexentertainment.com " />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-56572081-1', 'auto');
        ga('send', 'pageview');

    </script>




    @RenderSection("head", required: false)


</head>

<body style="background-color:#F6F6F6;">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" id="mainmenu">



        <div class="container">
            <div class="navbar-header" style="width:320px;">


                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brando  main-header " href="#">
                    <img style="width:71%; margin-top:10px; margin-left:10px; " src="~/Content/Logos/logo2.png" />
                </a>




            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">

                <ul class="nav navbar-nav ">









                    <!-- <li class="active"><a href="#">Home</a></li>-->
                    <li class="underline-menu"><a href="/Home/Index" style="font: normal bold 16px / 20px  roboto, helvetica, arial, verdana, sans-serif;">Anasayfa</a></li>










                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Galeri <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Home/Galeri">Yeni</a></li>
                            <li><a href="/Home/OzelYapimcilar">Özel Yapımcılar</a></li>
                            <li><a href="/Home/Etiketler">Etiketler</a></li>
                        </ul>



                    </li>







                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Haberler <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Özel</a></li>
                            <li><a href="#">Anime</a></li>
                            <li><a href="#">Sanat</a></li>
                            <li><a href="#">Cosplay</a></li>
                            <li><a href="#">Etkinlik</a></li>
                            <li><a href="#">Figür</a></li>
                            <li><a href="#">Yemek</a></li>
                            <li><a href="#">Oyun</a></li>
                            <li><a href="#">Manga</a></li>
                            <li><a href="#">Film</a></li>
                            <li><a href="#">Müzik</a></li>
                            <li><a href="#">Vocaloid</a></li>
                            <li><a href="#">Ürün</a></li>


                        </ul>
                    </li>
                    <li><a href="Home/HakkimizdaDetay" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hakkımızda</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.Name == "" || User.Identity.Name == null)
                    {
                        <li id="btn_giris" class="login_singup_buttons"><button data-toggle="modal" data-target="#GirisModal" class="btn btn-block btn-default">Giriş Yap</button></li>
                        <li id="btn_kayit" class="login_singup_buttons"><button data-toggle="modal" data-target="#KayitModal" class="btn btn-block btn-success">Kayıt Ol !</button></li>
                        @*<li id="btn_kayit" class="login_singup_buttons"><button role="button" onclick="window.location.href = '/Home/SingUp'" class="btn btn-block btn-success">Kayıt Ol !</button></li>*@
                    }
                    else
                    {
                        <div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class=" dropdown " id="kullanici_menu">
                                    <div style="position:relative; float:left;"><img style=" width: 50px;" src="@ViewData["EkibimizFotoFile"]" /></div>

                                    <a style="position:relative; float:left;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Hoşgeldin @User.Identity.Name <span class="caret"></span>
                                    </a>


                                    <ul class="dropdown-menu" role="menu">

                                        <li><a href="/Account/Index">Admin Panel</a></li>
                                        <li><a href="/Home/ProfilAyarlari">Profil Ayarları</a></li>
                                       
                                        <li><a href="/Account/logout">Çıkış Yap</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }



                </ul>



            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" style="padding-top:100px; padding-bottom:100px;">
        <div class="row">
            <div class="col-md-4">

                <div class="col-md-12 center-menu">
                    
                        <ul>
                            <li><a onclick="aboutus()"><i class="fa fa-chevron-right"></i> AEN Nedir? </a></li>
                            <li><a onclick="terms()"><i class="fa fa-chevron-right"></i> Kullanım Şartları </a></li>
                            <li><a onclick="policy()"><i class="fa fa-chevron-right"></i> Gizlilik Politikası </a></li>
                            <li><a onclick="ikonbanner()"><i class="fa fa-chevron-right"></i> İkon ve Banner </a></li>
                            <li><a onclick="developerblog()"><i class="fa fa-chevron-right"></i> Developer Blog</a></li>
                            <li><a onclick="contactus()"><i class="fa fa-chevron-right"></i> İletişime Geç </a></li>
                            @*<li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>
                <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> MENU TITLE </a></li>*@
                        </ul>
                    
                </div>


            </div>
        
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @RenderBody()
                    </div>
                </div>

               
            </div>

        </div>

    </div>






    <footer class="footer">

        <div class="footer_sprite">  </div>



        <nav class="footerNav col-md-7 col-md-offset-3">
            <div class="row mt_footer">

                <div class="col-md-3 footerBox">
                    <div class="inner">
                        <ul class="footerNavList">
                            <li><span>Hakkımızda</span></li>
                            <li><a onclick="aboutus()">Animex Entertainment Network Nedir ?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footerBox">
                    <div class="inner">
                        <ul class="footerNavList">
                            <li><span>Yardım</span></li>

                            <li><a onclick="terms()">Kullanım Şartları</a></li>
                            <li><a onclick="policy()">Gizlilik Politikası</a></li>
                            <li><a onclick="contactus()">İletişime Geç</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footerBox">
                    <div class="inner">
                        <ul class="footerNavList">
                            <li><span>Daha Fazla</span></li>

                            <li><a onclick="ikonbanner()">İkon ve Banner</a></li>
                            <li><a onclick="developerblog()">Developer Blog</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        <div class="footerLogo mt_footer col-md-12">
            <div class="row">
                <div class="container">
                    <center>
                        <p>
                            <a href="/" class="footerlogo-color">
                                @*<img src="#" alt="" width="37" height="27" />*@
                                <span>Animex Entertainment Network</span>
                            </a>
                        </p><p class="footerLogo mt_footer" style="color:white;">
                            Made with <a style="color:#FF0066;">♥ </a>
                            in Türkiye
                        </p>
                    </center>
                </div>
            </div>
        </div>

    </footer>

    <!-- FOOTER-->
    

</body>
</html>
<!--Giriş Yap-->

<div id="GirisModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="padding-top: 50px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body" style="padding-bottom: 0px; padding-top: 0px; ">

                <div class="row">


                    <div class="col-md-6" style="background-image: url('http://pre15.deviantart.net/8b1d/th/pre/i/2016/149/b/b/vaporeon_by_bluekomadori-da47zvo.jpg'); background-size: cover; height: 470px; border-radius: 5px 0px 0px 5px; ">



                    </div>
                    <div class="col-md-6">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <div class="login-box">
                            <div class="login-logo">
                                <img style="width: 71%;margin-top:10px;margin-left:10px;" src="/Content/Logos/logo2.png" />
                            </div><!-- /.login-logo -->
                            <div class="login-box-body">
                                <p class="login-box-msg">Oturumu başlatmak için giriş yapın.</p>
                                <form role="form" method="post">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" id="isim" name="isim" placeholder="Kullanıcı Adı" />
                                        <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" class="form-control" id="sifre" name="şifre" placeholder="Şifre" />
                                        <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <div class="checkbox icheck">
                                                <label>
                                                    <input type="checkbox" /> Beni Hatırla
                                                </label>
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-xs-4">
                                            <button type="button" onclick="uyegir()" class="btn btn-primary btn-block btn-flat">Giriş</button>
                                        </div><!-- /.col -->
                                    </div>
                                </form>

                                <a href="#">Şifremi unuttum !</a><br />
                                <a href="register.html" class="text-center">Yeni üye kaydı.</a>
                            </div><!-- /.login-box-body -->
                        </div><!-- /.login-box -->



                    </div>


                </div>


            </div>

        </div>

    </div>
</div>




<!--Giriş Yap-->
<!--Kayıt Ol-->


<div id="KayitModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="padding-top: 50px;">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body" style="padding-bottom: 0px; padding-top: 0px; ">

                <div class="row">


                    <div class="col-md-6" style="background-image: url('http://www.r3veblog.com/wp-content/uploads/2015/02/digital_by_kr0npr1nz-d859bbr-700x700.jpg'); background-size: cover; height: 470px; border-radius: 5px 0px 0px 5px; ">



                    </div>
                    <div class="col-md-6">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="register-box">
                            <div class="register-logo">
                                <img style="width: 71%;margin-top:10px;margin-left:10px;" src="/Content/Logos/logo2.png" />
                            </div>
                            <div class="register-box-body">
                                <p class="login-box-msg">Yeni kullanıcı kaydı</p>
                                <form action="../../index.html" method="post">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" id="kullaniciadi" name="kullaniciadi" placeholder="Kullanıcı Adı" />
                                        <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" id="email" name="e-mail" placeholder="Email" />
                                        <span class="fa fa-envelope form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" id="kayitsifre" name="kayitsifre" class="form-control" placeholder="Şifre" />
                                        <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" id="kayitsifre" name="kayitsifre" class="form-control" placeholder="Şifre Tekrar" />
                                        <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <div class="checkbox icheck">
                                                <label>
                                                    <input type="checkbox" /> Koşulları kabul ediyorum.
                                                </label>
                                            </div>
                                        </div><!-- /.col -->
                                        <div class="col-xs-4">
                                            <button type="button" onclick="uyekayit()" class="btn btn-primary btn-block btn-flat">Kayıt Ol</button>
                                        </div><!-- /.col -->
                                    </div>
                                </form>

                                <a href="login.html" class="text-center">Mevcut bir kaydım var.</a>

                            </div><!-- /.form-box -->
                        </div> <!--/.register-box  -->


                    </div>


                </div>


            </div>

        </div>

    </div>
</div>


<!--Kayıt Ol-->





<script type="text/javascript">


    var uyegir = function () {

        var username = $("#isim").val();

        var password = $("#sifre").val();

        var verigonder2 = { username: username, password: password };

        $.ajax({
            type: "post",
            url: "/Account/girisyap",
            data: verigonder2,
            dataType: "json",
            error: function (err) {

                alert("Lütfen Tüm alanları eksiksiz doldurunuz");
            }

        }).done(function (response) {
            if (response == "ok") {
                location.href = "/Home/Index";
            }
            else {

                //location.href = "Index";
            }
        });

    }

</script>



<script>



    var haberoku = function (ID) {

        location.href = "/Home/HaberDetay?ID=" + ID;
    }

    var aboutus = function (ID) {

        location.href = "/Home/Hakkimizda?ID=" + 2;
    }

    var terms = function (ID) {

        location.href = "/Home/KullanimSartlari?ID=" + 1;
    }

    var policy = function (ID) {

        location.href = "/Home/GizlilikPolitikasi?ID=" + 1;
    }

    var ikonbanner = function () {

        location.href = "/Home/İconveBanner?ID=" + 1;
    }

    var developerblog = function () {

        location.href = "/Home/DeveloperBlog";
    }

    var contactus = function () {

        location.href = "/Home/ContactUs";
    }

</script>

