<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--

                                                              _/ _/      _/_/_/_/    _/      _/
                                                            _/   _/     _/          _/_/    _/
                                                           _/_/_/_/    _/_/_/      _/  _/  _/
                                                          _/    _/    _/          _/    _/_/
                                                         _/    _/    _/_/_/_/    _/      _/


                        WWMMMMGGGGGGGGGGGGGGGGGMMMMMMMMGGMMMMMMMMMMMMWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW
                       WWMMMMGGGGGGGGGGGGGGGGGGMMMMMMMMGGMMMMMMMMMMMMWWWWRWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW
                       WWMMMGGGGGGGGGGGGGGGGGGGMMMMMMMMMMMMMMMMMMMMGWWWWGMMRRMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW
                      WWMMMGGGGGGGGGGGGGGGGGGGGGMMMMMGMMMMMMMMMMMGWWW.WWGMMMMMMWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMGGGGMMMMMMMMMMMMMMMMMMMMMMMW
                     WWMMMMGGGGGGGGGGGGGGGGGGGGGGGMMGGGMMGGMMMGGGWW....WGMMMMMMMWWWWWMMMMMMMMMMMGGGGGGGGGGGGGGGGGGGGGGGGGMGMMWWWWMMMMMMMMMMMMMMMW
                     WWMMMMGGGGGGGGGGGGGGGGGGGGGGGGMGGMMMMMMGGGWW......WWGMMMMMGGGGWMMRWWMMMMMMMMMMMGGGGGGGGMMMMGGGGGGGGGGMWWWWWWMMGMMMMMMMMMMMMW
                    WWMMMMGGGGGGGGGGGGGGGGGGGGGGGGMGGGGGGGGGGWWW........WWMMMMMMGGGGGGMWWMMMWMGGGGGGGGGGGGGGGGGGGGGGGGGGGGMWWMMGGGGGGGGGGMMMMMMMWW
                   WWMMMMMGGGWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGWW..WWWW....WWGMMMMMGGGGGGGGGGMMMMMMMMGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGMMMGMMMMMWWW
                  WWMMMMMGGWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGWW.WWW...WW....WWGMMMMGGGGGGGGGGGGGGMMMWWWWGMGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGMGMMMWWWW
                  WWMMMMMMMW.WWWWGGGGGGGGGGGGGGGGGGGGGGGGWW.WW......WW....WWGMMMMGGGGGGGGGGGGGGGGMMWRMWWMWGGGGGGGGGGGGGGWGGGGGGGGGGGGGGGGMMMMWWWW
                 WMMMMMMMW...WWWGGGGGGGGGGGGGGGGGGGGGGWWWWWWWWW....WWW....WWMMMMGGGGGGGGGGGGGGGGGGGGGGWWMWWWMMMMGGGGGGGWWGGGGGGGGGGGGGMMMWWWWWMWW
                 WWMMMMMMMW..WWWWGGGGGGGGGGGGGGGGGGGGGWWWW.....WWWWWWWWW....WWMMMMGGGGWWGGGGGGGGGGGGGGGGGGGGGWMWMMMMMMMMWWGGMMMWWWWWWWWWWWWWWMMMW
                WWMMMMMMMMW.WW.WWGGGGGGGGGGGGGGGGGGGWWWW............WWWWW....WWMMMMGGGWWWWGGGGGGGMWWGGGGGGGGGGGGGGGGGGGGGWWGWWGGWWWWWWWWWMGMMMMGW
               WWMMMMMMMMMW.W..WWGGGGGGGGGGGGGGGGGGWWWW................WWWW...WWMMMMMMMWWWWGGGGGGWWWGGGGGGGGGGGGGGGGGGGGGGWGGGGGGGGGGGGGGGGGGMMGW
               WWMGGGGGGMMW.WW..WGGGGGGGGGGGGGGGGGWWW.............WWWW...WWWWW.WWMMMMMMMW.WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWWGGGGGGGGGGGGGGGGGGGGW
              WWMGGGGGGGGGW.WW..WGGGGGGGGGGGGGGGGWWWWWWWWWWW........WWWW..WW.WWWWWMMMMMMMW..WWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGGGGGGGGGGGGGGGGGMW
             WWMGGGGGGGGGGGWW...WWGGGGGGGGGGGGGGGGWWWWWWWWWWWWWWW.....WWWW.WWW.W.WWWMMMMMMW...WWWWGGGGGGGGGGGGGGGGGGGGGGGGGWWGGGGGGGGGGGGGGGGGGGGW
            WWMGGGGGGGGGGGGWWW..WWGGGGGGGGGGGGGGGGWWWGGGMGGMMMMMWWWWWW.WWW...WWW...WWMMMMMMW....WWWWGGGGGGGGGGGGGGGGGGGGGGGWWGGGGGGGGGGGGGGGGGGGMW
           WWMGGGGGGGGGGGGGW.WW.WWGGGGGGGGGGGGGGGWWWWGGGWGGWWWGWWWWWWWWWWW.....WW...WWWMMMMMW.....WWWWWGGGGGGGGGGGGGGGGGGGGWGGGGGGGGGGGGGGGGGGGGGW
          WWGGGGGGGGGGGGGGGW.WWWWGGGGGGGGGGGGGGGWWWWWWWGGWWW.WWWW...WWWW.......WWWWW.WWWMMMMW...WW..WWWWGGGGGGGGGGGGGGGGGWWWWWWWWWWGGGGGGGGGGGGGW
          WWMGGGGGGGGGGGGGGGWW...WWGGGGGGGGGGGGGMWWWWWWWWWWWWWWWW.................WWW...WWMMMMWW........WWWWGGGGGGGGGGGGGGWWWWWWWWWGGGGGGGGGGGGGGWW
         WWGGGGGGGGGGGGGGGGGGGWW.WWGGGGGGGGGGGGGMW.WWWWWWWWWWWWW...................WWWW..WWWMMMWW....WWWWW.WWWWGMGGGGGGGGGWGGGGGGGGGGGGGGGGGGGGGGWW
        WWGGGGGGGGGGGGGGGGGGGGGWWWWWGGGGGGGGGGGMMW...WWWWWWWWW....................WWWWWWW.WWWWWMWW..WWWWWWWWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWW
       WWGGGGGGGGGGGGGGGGGGGGGGGGWWWGGGGGGWWWGGMMW.......WWWWWWW..................WWWW..WWWWWWWWWMWWWWWWWWWWWWWWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWW
      WWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWW.WWGMMW...............................WW.....WWWWWWW.WWGWGGGGGWWWWWWWWWWWWWWWWGGWGGGGGGGGGGGGGGGGGGGGGGWW
     WWWWWGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGWW..WWGMW.............................WWW.......WW..WWWWWGWWWWWGWWW....WWWWW..WWGGGGGGGGGGGGGGGGGGGGGGGGGWW
    WWGWGGGGGGGGGGGGGGGGGGGGGGGGGGGWWGGW......WMWWW.......................WWWWW........WW.....WWWWWWWWWWWW.....WWWWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGWW
    WWGGGGGGGWGGGGGGGGGGGGGGGGGGGGGGWWWWW..........WWWWW................WWWWWW.........WW.....WWWWWWWWWW......WWW...WWWGGWGGGGGGGGGGGGGGGGGGGGGGW
   WWGGGGGGGGGKIZUMONOGATARIGGGGGGGGWWWW..............WWWWWWW...WWWWWWWWW..............WW......WWWWWWW.......WWWWW.WWWGGGGGGGGGGGGGGGGGGGGGGGGGGW
   WWGGWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWWWW...................WWWWWW......................WW........WWWWWW......WW.WWWWWWGGGGWGGGGGGGGGGGGGGGGGGGGWW
   WWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWWWWW.........................................W....WWW......................WWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGW
    WWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWTW.WW.......................................WW.....WWW....................WWWWWGGGGGGGGGGGGGGWGGGGGGGGGGGGW
    WWGWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWTWW.WW......................................WW.......WWW..................WWWWWGGGGGGGGGGGGGWGGGGGGGGGGGGGW
     WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGWO.WW.WW...................................WWW..........WWW...............WWWWWGWGGWGGGGGGGGGWGGGGGGGGGGGGGGW
      WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGWO..WW.WW................................................WWWWW..........WWWWWWGGGGWGGGGGGGWWGGGGGGGGGGGGGGW
       WWGGGGGGGGGGGGGGGGGGGGGGGGWWWWWW...WW.WW...............WWW................................WWWWWWWWWWWWWWWWWGGGGWGGGGGGGWWGGGGGGGGGGGGGGGW
       WWWGGGGGGGGGGGGGGGGGGGGWWWWRRRRW....WW.WW...............WWW...................................WWWWWWWWGGGGGGGGGGGGGWGGGWGGGGWGGGGGGGGGGGW
        WWWGGGGGGGGGGGGGGGGGWWMRRRRRRRW.....WWWWW................WWWW...................................WWWGGGGGGGGGGGGGGGWGWGGGGGGGGGGGGGGGGGWW
         WWWGGGGGGGGGGGGGGGWWMRRRRRRRRW.......WW.WW.................WWWWWW......WW....................WWWGGGGGGGGGGWGGGGGGWWGGGGGGGGWWGGGGGGGGW
          WWWGGGGGGGGGGWWWWWRRRRRRRRRRW........WW.WW.....................WWWWWWWW...................WWWGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGWGGGGGGGWW
          WWWWGGGGGWWWW..WWRRRRRRRRRRRWT.........WWWWW...........................................WWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGGGGW
            WWWGWWWW....WWRRRRRRRRRRRRWW..........WWWWW.......................................WWWWRRRWWWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGGW
              WWW......WWRRRRRRRRRRRRWWW............WWWWW.................................WWWWWRRRRRRRRWWGGGGGGGGGGGGGGGGGGGGGGGGGGGGGWGGGGWW
         WWWWW.WW.....WWRRRRRRRRRRRRRWTW..............WWWWW.........................WWWWWWWRRRRRRRRRRWOWWWWWWGGGGGGGGGGGGGGGGGGGGGGGGGWGGGW
WWWWWWWWWW.W...W....WWWRRRRRRRRRRRRRRW.W................WWWWW.................WWWWWWWWWRRRRRRRRRRRRRAWWW...WWWWWGGGGGGGGGGGGGGGGGGGGGGWGGW
WW.............W...WWRRRRRRRRRRRRRRRWW.W...................WWWW.........WWWWWWW..WWWWRRRRRRRRRRRRRRATWW........WWWWWGGGGGGGGGGGGGGGGWGGWW
...............WW.WWRRRRRRRRRRRRRRRRWT.W.....................WWWWWWWWWWWW......WWWWWRRRRRRRRRRRRRROTTW............WWWWWGGGGGGGGGGGGWGGWW
................WWWRRRRRMMMRMMMRRRRWW..W....................................WWWWWWRRRRRRRRRRRRRWATTTW................WWWWWWGGGGGGGGGWW
................WWWRRRMMMMMMMMMMMRMWT..W.................................WWWWWWWRRRRRRMRMMMRRRAOTTTWW....................WWWWWWWWWWWWWWW
..............http://WWWRRRRMMMMMMMMMMMMMMWT.TW..............................WWWWTTWWRRRRRWWAARMMMWAOTTTTWW..................................WWWWWWWWWWWW
..............WWWWWWWMMMMMMMMMMMMMMWT.WT............................WWW...TWWRRRRRAOOOAMMMRAOTTTTTW............................................WWW
-->


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr">
<head>


    <link href="~/Content/Css/socialhome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Doppio+One" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    @*<script src="~/Content/JavaScript/jQuery-2.1.3.min.js"></script>*@
   
    @*<script src="~/Content/JavaScript/BackgroundAnimation.js"></script>*@
    <link href="~/AdminLTE-2.0.3/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
   

   
    <script src="~/Content/JavaScript/ac/jquery-1.9.1.min.js"></script>
    <script src="~/Content/JavaScript/bootstrap.min.js"></script>
    
    
    <script src="~/Content/JavaScript/Masonry.js"></script>

    <script src="~/Content/JavaScript/SocialSearchBox.js"></script>
    <link href="~/Content/Css/Home.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    @*<title>@Page.Title</title>*@
    <title>Animex Entertainment 1.1 Beta || @ViewData["PostBaslik"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Anime ve Manga ile dolu bi dünya...  @ViewData["PostIcerik"]" />
    <meta name="keywords" content="Anime,Manga,Cosplay,Vocaloid,Naruto,Otaku,Game," />
    <meta name="author" content="Ersan Akşahin" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="Animex Entertainment Network" />
    <meta property="og:title" content="@ViewData["PostBaslik"]" />
    <meta property="og:description" content="@ViewData["PostIcerik"] " />
    <meta property="og:ulr" content="http://animexentertainment.com " />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-56572081-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript">
        $(function () {

            $('#content').masonry({
                itemSelector: '.gallery_item'
            });

            //var $container = $('#content');
            //$container.imagesLoaded(function () {
            //    $container.masonry({
            //        itemSelector: '.k',
            //        isAnimated: true
            //    });
            //});



        });
    </script>

    @RenderSection("head", required: false)


</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" id="mainmenu">


        <div class="container">
            <div class="navbar-header" style="width:320px;">


                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brando  main-header " href="#">
                    <img style="width:71%; margin-top:10px; margin-left:10px; " src="~/Content/Logos/logo2.png" />
                </a>




            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">

                <ul class="nav navbar-nav ">


                    <li class="underline-menu"><a href="/Home/Index" style="font: normal bold 16px / 20px  roboto, helvetica, arial, verdana, sans-serif;">Anasayfa</a></li>







                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Haberler <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Özel</a></li>
                                <li><a href="#">Anime</a></li>
                                <li><a href="#">Sanat</a></li>
                                <li><a href="#">Cosplay</a></li>
                                <li><a href="#">Etkinlik</a></li>
                                <li><a href="#">Figür</a></li>
                                <li><a href="#">Yemek</a></li>
                                <li><a href="#">Oyun</a></li>
                                <li><a href="#">Manga</a></li>
                                <li><a href="#">Film</a></li>
                                <li><a href="#">Müzik</a></li>
                                <li><a href="#">Vocaloid</a></li>
                                <li><a href="#">Ürün</a></li>

                            </ul>
                        </li>*@

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.Name == "" || User.Identity.Name == null)
                    {
                        <li id="btn_giris" class="login_singup_buttons"><button data-toggle="modal" data-target="#GirisModal" class="btn btn-block btn-default">Giriş Yap</button></li>
                        <li id="btn_kayit" class="login_singup_buttons"><button data-toggle="modal" data-target="#KayitModal" class="btn btn-block btn-success">Kayıt Ol !</button></li>
                        @*<li id="btn_kayit" class="login_singup_buttons"><button role="button" onclick="window.location.href = '/Home/SingUp'" class="btn btn-block btn-success">Kayıt Ol !</button></li>*@
                    }
                    else
                    {
                        <div>
                            <ul class="nav navbar-nav navbar-right">
                                <li class=" dropdown " id="kullanici_menu">
                                    <div style="position:relative; float:left;"><img style=" width: 50px;" src="@ViewData["EkibimizFotoFile"]" /></div>

                                    <a style="position:relative; float:left;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Hoşgeldin @User.Identity.Name <span class="caret"></span>
                                    </a>


                                    <ul class="dropdown-menu" role="menu">

                                        <li><a href="/Account/Index">Admin Panel</a></li>
                                        <li><a href="/Home/ProfilAyarlari">Profil Ayarları</a></li>

                                        <li><a href="/Account/logout">Çıkış Yap</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }



                </ul>



                @*@if (User.Identity.IsAuthenticated)
                    {
                    }*@







            </div><!--/.nav-collapse -->
        </div>
    </nav>


    
        @RenderBody()

    


        <!---->
    <div style="margin-top: 50px !important; position: fixed; z-index: 1;">

        <div class="left sex">
            <div class="item">
                <span class="glyphicon glyphicon-th-large"></span>
            </div>
            <div class="item active">
                <span class="glyphicon glyphicon-th-list"></span>
                Все документы
            </div>
            <div class="item">
                <span class="glyphicon glyphicon-log-out"></span>
                Расходные накладные
            </div>
            <div class="item">
                <span class="glyphicon glyphicon-log-in"></span>
                Приходные накладные
            </div>
            <div class="item">
                <span class="glyphicon glyphicon-random"></span>
                Акты переоценки
            </div>
            <div class="item">
                <span class="glyphicon glyphicon-remove"></span>
                Акты списания
            </div>
        </div>
      

    </div>
        <!---->

   





    <!--CONTENT-->






    <div class="container">



        <section class="main"  style="margin-top:80px;">
            <form class="search" method="post" action="index.html">
                <input type="text" name="q" placeholder="Ara..." />
                <ul class="results">
                    <li><a href="index.html">Search Result #1<br /><span>Description...</span></a></li>
                    <li><a href="index.html">Search Result #2<br /><span>Description...</span></a></li>
                    <li><a href="index.html">Search Result #3<br /><span>Description...</span></a></li>
                    <li><a href="index.html">Search Result #4</a></li>
                </ul>
            </form>
        </section>




        <div class="row" style="margin-top:30px;">
            <!--gallery_itemlar-->
            <div class=" col-lg-9 col-md-9 col-xs-12 ">
                <div id="content">

                    <div class="gallery_item col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-xs-2"><a href="google.com.tr"><img style="margin-left:15px; margin-top:15px; border:1px solid aliceblue;  width: 100%;height: auto;" src="https://galeri.uludagsozluk.com/18/anime_125202_s.png" alt="" /></a></div>
                                <h5 class="col-lg-6 col-md-6 col-xs-6" style="font-weight: bold; margin-top:14px; cursor:pointer;">Elementora</h5>
                                <p class="col-lg-6 col-md-6 col-xs-6" style="font-size: 12px; color: #929292; cursor: pointer; ">Nis.07.2015 15:12</p>

                            </div>
                            <div class="row" style="margin:5px;">

                                <p class="col-lg-12 col-md-12 col-xs-12" style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium est eget massa auctor elementum. Duis consectetur ante a placerat varius. Fusce viverra molestie commodo. Mauris bibendum faucibus lacus at consequat. Ut dictum leo id risus rutrum elementum. Nunc consectetur odio eu ipsum auctor, non congue odio condimentum. Mauris bibendum diam sit amet orci elementum finibus. Donec nulla lacus, semper non nisi sed, consectetur euismod nulla. Aliquam eleifend elit id dolor posuere pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>


                            </div>

                            <div>
                                <a class="fancybox-effects-a " href="https://i.pinimg.com/736x/75/a2/0d/75a20d8901eef869c9c96a49b08d1125--b%C4%83ie%C8%9Bi-anime-yandere-anime-boy.jpg">
                                    <img src="https://i.pinimg.com/736x/75/a2/0d/75a20d8901eef869c9c96a49b08d1125--b%C4%83ie%C8%9Bi-anime-yandere-anime-boy.jpg" alt="" style="width: 100%;" />
                                </a>

                                <div class="row" style="background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%); margin:0px; padding-top:5px;padding-bottom:5px;">


                                    <div class="col-md-2 col-xs-2"></div>
                                    <div class="col-md-2 col-xs-2">

                                        <i class="fa fa-2x fa-heart-o" style=" cursor:pointer;" onclick="begen()" title="Beğen"></i>
                                        <span style="color:green; float:right;">1</span>

                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-thumbs-o-down" style=" cursor:pointer;" onclick="begenme()" title="Beğenme"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-share-square-o" style=" cursor:pointer;" onclick="paylas()" title="Paylaş"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-warning" style=" cursor:pointer;" onclick="bildir()" title="Raporla"></i>
                                    </div>
                                    <div class="col-md-2 col-xs-2"></div>


                                </div>

                                <div class="row" style="padding:10px;">
                                    <div class="form-group col-md-12">
                                        <textarea style="border:1px solid aliceblue;" class="social-large-compact" placeholder="Tartışmaya Başla..." name="yorum" id="yorum" cols="30" rows="10"></textarea>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="gallery_item col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-xs-2"><a href="google.com.tr"><img style="margin-left:15px; margin-top:15px; border:1px solid aliceblue;  width: 100%;height: auto;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt_ehKiYor0Xeh-T1Sc8XBrcpmlnZJp_dbehX0OyJ4pqVjS_B3hQ" alt="" /></a></div>
                                <h5 class="col-lg-6 col-md-6 col-xs-6" style="font-weight: bold; margin-top:14px; cursor:pointer;">Logain Ablar</h5>
                                <p class="col-lg-6 col-md-6 col-xs-6" style="font-size: 12px; color: #929292; cursor: pointer; ">Nis.07.2015 15:12</p>
                            </div>
                            <div>
                                <a class="fancybox-effects-a" href="https://i.pinimg.com/736x/67/d9/71/67d97146191a249a04361b18e0de3708--anime-guys-anime-manga-boy.jpg">
                                    <img src="https://i.pinimg.com/736x/67/d9/71/67d97146191a249a04361b18e0de3708--anime-guys-anime-manga-boy.jpg" alt="" style="width: 100%;" />
                                </a>

                                <div class="row" style="background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%); margin:0px; padding-top:5px;padding-bottom:5px;">


                                    <div class="col-md-2 col-xs-2"></div>
                                    <div class="col-md-2 col-xs-2">

                                        <i class="fa fa-2x fa-heart-o" style=" cursor:pointer;" onclick="begen()" title="Beğen"></i>
                                        <span style="color:green; float:right;">1</span>

                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-thumbs-o-down" style=" cursor:pointer;" onclick="begenme()" title="Beğenme"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-share-square-o" style=" cursor:pointer;" onclick="paylas()" title="Paylaş"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-warning" style=" cursor:pointer;" onclick="bildir()" title="Raporla"></i>
                                    </div>
                                    <div class="col-md-2 col-xs-2"></div>


                                </div>

                                <div class="row" style="padding:10px;">
                                    <div class="form-group col-md-12">
                                        <textarea style="border:1px solid aliceblue;" class="social-large-compact" placeholder="Tartışmaya Başla..." name="yorum" id="yorum" cols="30" rows="10"></textarea>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>




                    <div class="gallery_item col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-xs-2"><a href="google.com.tr"><img style="margin-left:15px; margin-top:15px; border:1px solid aliceblue;  width: 100%;height: auto;" src="http://rs855.pbsrc.com/albums/ab117/xXLTXx/Happy%20Tree%20Friends/Flaky/Flaky_icon_2.jpg~c200" alt="" /></a></div>
                                <h5 class="col-lg-6 col-md-6 col-xs-6" style="font-weight: bold; margin-top:14px; cursor:pointer;">Beysimus</h5>
                                <p class="col-lg-6 col-md-6 col-xs-6" style="font-size: 12px; color: #929292; cursor: pointer; ">Nis.07.2015 15:12</p>
                            </div>
                            <div>
                                <a class="fancybox-effects-a " href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6OwA7ucEDptpoisC6NiLVffF5pLsHqk6PWhH_vcw4A8G4JaHC7g">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6OwA7ucEDptpoisC6NiLVffF5pLsHqk6PWhH_vcw4A8G4JaHC7g" alt="" style="width: 100%;" />
                                </a>

                                <div class="row" style="background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%); margin:0px; padding-top:5px;padding-bottom:5px;">


                                    <div class="col-md-2 col-xs-2"></div>
                                    <div class="col-md-2 col-xs-2">

                                        <i class="fa fa-2x fa-heart-o" style=" cursor:pointer;" onclick="begen()" title="Beğen"></i>
                                        <span style="color:green; float:right;">1</span>

                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-thumbs-o-down" style=" cursor:pointer;" onclick="begenme()" title="Beğenme"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-share-square-o" style=" cursor:pointer;" onclick="paylas()" title="Paylaş"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-warning" style=" cursor:pointer;" onclick="bildir()" title="Raporla"></i>
                                    </div>
                                    <div class="col-md-2 col-xs-2"></div>


                                </div>
                                <div class="row" style="padding:10px;">
                                    <div class="form-group col-md-12">
                                        <textarea style="border:1px solid aliceblue;" class="social-large-compact" placeholder="Tartışmaya Başla..." name="yorum" id="yorum" cols="30" rows="10"></textarea>
                                        @*<textarea placeholder="Yorum" class="form-control" rows="5" id="comment"></textarea>*@
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>





                    <div class="gallery_item col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-xs-2"><a href="google.com.tr"><img style="margin-left:15px; margin-top:15px; border:1px solid aliceblue;  width: 100%;height: auto;" src="https://t14.deviantart.net/ADpOm-SXVXgCZVUYyroa9aK-67A=/300x200/filters:fixed_height(100,100):origin()/pre04/8e01/th/pre/f/2017/172/5/4/no_game_no_life__zero__anime_icon_by_rofiano-dbdi3r4.png" alt="" /></a></div>
                                <h5 class="col-lg-6 col-md-6 col-xs-6" style="font-weight: bold; margin-top:14px; cursor:pointer;">Penbiş</h5>
                                <p class="col-lg-6 col-md-6 col-xs-6" style="font-size: 12px; color: #929292; cursor: pointer; ">Nis.07.2015 15:12</p>
                            </div>
                            <div>
                                <a class="fancybox-effects-a " href="http://figurex.net/wp-content/uploads/2016/06/anime-listesi-yaz.jpg">
                                    <img src="http://figurex.net/wp-content/uploads/2016/06/anime-listesi-yaz.jpg" alt="" style="width: 100%;" />
                                </a>

                                <div class="row" style="background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%); margin:0px; padding-top:5px;padding-bottom:5px;">


                                    <div class="col-md-2 col-xs-2"></div>
                                    <div class="col-md-2 col-xs-2">

                                        <i class="fa fa-2x fa-heart-o" style=" cursor:pointer;" onclick="begen()" title="Beğen"></i>
                                        <span style="color:green; float:right;">1</span>

                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-thumbs-o-down" style=" cursor:pointer;" onclick="begenme()" title="Beğenme"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-share-square-o" style=" cursor:pointer;" onclick="paylas()" title="Paylaş"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-warning" style=" cursor:pointer;" onclick="bildir()" title="Raporla"></i>
                                    </div>
                                    <div class="col-md-2 col-xs-2"></div>


                                </div>

                                <div class="row" style="padding:10px;">
                                    <div class="form-group col-md-12">
                                        <textarea style="border:1px solid aliceblue;" class="social-large-compact" placeholder="Tartışmaya Başla..." name="yorum" id="yorum" cols="30" rows="10"></textarea>
                                        @*<textarea placeholder="Yorum" class="form-control" rows="5" id="comment"></textarea>*@
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>





                    <div class="gallery_item col-md-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-xs-2"><a href="google.com.tr"><img style="margin-left:15px; margin-top:15px; border:1px solid aliceblue;  width: 100%;height: auto;" src="https://galeri.uludagsozluk.com/18/anime_125202_s.png" alt="" /></a></div>
                                <h5 class="col-lg-6 col-md-6 col-xs-6" style="font-weight: bold; margin-top:14px; cursor:pointer;">Elementora</h5>
                                <p class="col-lg-6 col-md-6 col-xs-6" style="font-size: 12px; color: #929292; cursor: pointer; ">Nis.07.2015 15:12</p>
                            </div>
                            <div>
                                <a class="fancybox-effects-a " href="https://i.pinimg.com/736x/75/a2/0d/75a20d8901eef869c9c96a49b08d1125--b%C4%83ie%C8%9Bi-anime-yandere-anime-boy.jpg">
                                    <img src="https://i.pinimg.com/736x/75/a2/0d/75a20d8901eef869c9c96a49b08d1125--b%C4%83ie%C8%9Bi-anime-yandere-anime-boy.jpg" alt="" style="width: 100%;" />
                                </a>

                                <div class="row" style="background: linear-gradient(135deg,#1ebbf0 30%,#39dfaa 100%); margin:0px; padding-top:5px;padding-bottom:5px;">


                                    <div class="col-md-2 col-xs-2"></div>
                                    <div class="col-md-2 col-xs-2">

                                        <i class="fa fa-2x fa-heart-o" style=" cursor:pointer;" onclick="begen()" title="Beğen"></i>
                                        <span style="color:green; float:right;">1</span>

                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-thumbs-o-down" style=" cursor:pointer;" onclick="begenme()" title="Beğenme"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-share-square-o" style=" cursor:pointer;" onclick="paylas()" title="Paylaş"></i>
                                        <span style="color:green; float:right;">2</span>
                                    </div>
                                    <div class="col-md-2 col-xs-2">
                                        <i class="fa fa-2x fa-warning" style=" cursor:pointer;" onclick="bildir()" title="Raporla"></i>
                                    </div>
                                    <div class="col-md-2 col-xs-2"></div>


                                </div>

                                <div class="row" style="padding:10px;">
                                    <div class="form-group col-md-12">
                                        <textarea style="border:1px solid aliceblue;" class="social-large-compact" placeholder="Tartışmaya Başla..." name="yorum" id="yorum" cols="30" rows="10"></textarea>
                                        @*<textarea placeholder="Yorum" class="form-control" rows="5" id="comment"></textarea>*@
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>




                </div>
            </div>






            <div class="col-lg-3 col-md-3 col-xs-12 " style="float:left;">


                <div class="row">
                    <button type="button" class="btn  btn-flat btn-block" style="background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%); color:white; margin-bottom:10px;">Birşeyler Yaz</button>
                </div>
                <div class="row">
                    <button type="button" class="btn  btn-flat btn-block" style="background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); color: white; margin-bottom: 10px;">Tartışma Başlat</button>
                </div>

            </div>


            <div class="col-lg-3 col-md-3 col-xs-12" style="float:left;">


                <div class="row">

                    <div class="pdngzero">
                        <div class="widget media">
                            <div class="widget widget-games">
                                <div class="title">Aramıza Katılanlar</div>

                            </div>
                        </div>
                    </div>




                    
                    <div class="col-lg-6  col-md-6  col-xs-6">

                        <div class="thumbnail">
                           

                           
                            <img style="width: 100% !important; height: 100% !important;" src="https://galeri.uludagsozluk.com/18/anime_125202_s.png" alt="" />
                            <div class="caption">

                                <h6 style="color:black;">Elementora</h6>
                                <p style="color:black;">Anime sever biri .</p>
                                <p>
                                    <a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                                    <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a>
                                </p>

                            </div>

                            
                        </div>

                        <div class="aenrecomemdeduserinfo">
                            <div class="aenboldusername" style="cursor:pointer;">Elementora</div>
                            
                        </div>

                     </div>





                    <div class="col-lg-6  col-md-6  col-xs-6">
                       
                        <div class="thumbnail">



                            <img style="width: 100% !important; height: 100% !important;" src="https://t14.deviantart.net/ADpOm-SXVXgCZVUYyroa9aK-67A=/300x200/filters:fixed_height(100,100):origin()/pre04/8e01/th/pre/f/2017/172/5/4/no_game_no_life__zero__anime_icon_by_rofiano-dbdi3r4.png" alt="" />
                            <div class="caption">

                                <h6 style="color:black;">PenSakurai</h6>
                                <p style="color:black;">Salamlar dilerim .</p>
                                <p>
                                    <a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                                    <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a>
                                </p>

                            </div>
                        </div>
                        <div class="aenrecomemdeduserinfo">
                            <div class="aenboldusername" style="cursor:pointer;">PenSakurai</div>

                        </div>

             </div>




                    <div class="col-lg-6  col-md-6  col-xs-6">
                        <a class="thumbnail" href="google.com.tr"><img style="width: 100% !important; height: 100% !important;" src="http://rs855.pbsrc.com/albums/ab117/xXLTXx/Happy%20Tree%20Friends/Flaky/Flaky_icon_2.jpg~c200" alt="" /></a>
                    </div>


                    <div class="col-lg-6  col-md-6  col-xs-6">
                        <a class="thumbnail" href="google.com.tr"><img style="width: 100% !important; height: 100% !important;" src="https://orig13.deviantart.net/e4e4/f/2012/130/f/6/anime_boy_icon_by_miki_chan321-d4z78nz.png" alt="" /></a>
                    </div>


                    
                    <div class="col-lg-6  col-md-6  col-xs-6">
                        <a class="thumbnail" href="google.com.tr"><img style="width: 100% !important; height: 100% !important;" src="https://galeri.uludagsozluk.com/18/anime_125202_s.png" alt="" /></a>
                    </div>

                    <div class="col-lg-6  col-md-6  col-xs-6">
                        <a class="thumbnail" href="google.com.tr"><img style="width: 100% !important; height: 100% !important;" src="https://t14.deviantart.net/ADpOm-SXVXgCZVUYyroa9aK-67A=/300x200/filters:fixed_height(100,100):origin()/pre04/8e01/th/pre/f/2017/172/5/4/no_game_no_life__zero__anime_icon_by_rofiano-dbdi3r4.png" alt="" /></a>
                    </div>

                    <div class="col-lg-6  col-md-6  col-xs-6">
                        <a class="thumbnail" href="google.com.tr"><img style="width: 100% !important; height: 100% !important;" src="http://rs855.pbsrc.com/albums/ab117/xXLTXx/Happy%20Tree%20Friends/Flaky/Flaky_icon_2.jpg~c200" alt="" /></a>
                    </div>


                    <div class="col-lg-6  col-md-6  col-xs-6">
                        <a class="thumbnail" href="google.com.tr"><img style="width: 100% !important; height: 100% !important;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt_ehKiYor0Xeh-T1Sc8XBrcpmlnZJp_dbehX0OyJ4pqVjS_B3hQ" alt="" /></a>
                    </div>

                     
                </div>










            </div>

           
        </div>
        <!--KUTULAR-->
        <!---Wrapper Side --->
       


    </div>














   
</body>
</html>

<script>

    $(document).ready(function () {
        $("[rel='tooltip']").tooltip();

        $('.thumbnail').hover(
            function () {
                $(this).find('.caption').fadeIn(250)
            },
            function () {
                $(this).find('.caption').fadeOut(205)
            }
        );
    });

</script>